<div class="top">
    <h1><%= recipe.title %></h1>
    <img src="<%= recipe.image %>" alt="Image of <%= recipe.title %>"></br></br>
    <form action="/recipe" method="POST">
        <input type="hidden" name="title" value="<%= recipe.title %>">
        <input type="hidden" name="recipeId" value="<%= recipe.id %>">
        <input type="hidden" name="image" value="<%= recipe.image %>">
        <input type="submit" value="Add to Favorites">
    </form>
</div>
<div class="info">

    <% if (recipe.cuisines.length > 0) { %>
        <p>Cuisines: <% recipe.cuisines.forEach(function(cuisine) { %>
            <%= cuisine %>
        <% }); %></p>
    <% } %>
    <p>Time: <%= recipe.readyInMinutes %> minutes</p>
    <p>Servings: <%= recipe.servings %></p>
    <p>Score: <%= recipe.spoonacularScore %></p>
    <p>Summary: <%- recipe.summary %></p>
    Ingredients:<ul>
        <% recipe.extendedIngredients.forEach(function(ingredient) { %>
            <li><%= ingredient.original %></li>
        <% }); %>
    </ul>
    <% if (recipe.instructions !== null) { %>
        <p>Instructions: <%- recipe.instructions %></p>
    <% } %>
</div>
<div class="reviews">
    <% if (reviews.length < 1) { %>
        <p>Tried the recipe? Be the first to make a review!</p>
    <% } else { %>
        <% reviews.forEach (review => {%>
            <div class="review">
                <p>Name: <%= review.dataValues.name %></p>
                <p>Score: <%= review.dataValues.score %></p>
                <p>Review:<%= review.dataValues.content %></p>
                <% if (review.dataValues.userId === currentUser.dataValues.id) { %>
                    <a href="/recipe/edit/<%= review.dataValues.id %>">Edit Review</a>
                    <form method="POST" action="/recipe/review/<%= review.dataValues.id %>/?_method=DELETE">
                        <input type="hidden" name="recipeId" value="<%= recipe.id %>">
                        <input type="submit" value="Delete Review">
                    </form>
                <% } %>
            </div>
        <% }); %>
    <% }; %>
</div>
<div class="new">
    <p>Write a Review</p>
    <form action="/recipe/review" method="POST">
        <input type="hidden" name="recipeId" value="<%= recipe.id %>">
        <label for="score">Rating(1-10):</label>
        <input type="text" name="score"></br></br>
        <textarea type="text" name="content"></textarea></br></br>
        <input type="submit" value="Add Review">
    </form>
</div>