<%=  %>
<h1><%= recipe.title %></h1>
<img src="<%= recipe.image %>" alt="Image of <%= recipe.title %>"></br></br>
<div>

    <% if (recipe.cuisines.length > 0 ) { %>
        <p>Cuisines: <% recipe.cuisines.forEach(function(cuisine) { %>
            <%= cuisine %>
        <% }); %></p>
    <% } %>
    <p>Time: <%= recipe.readyInMinutes %> minutes</p>
    <p>Servings: <%= recipe.servings %></p>
    <p>Score: <%= recipe.spoonacularScore %></p>
    <p>Summary: <%- recipe.summary %></p>
    Ingredients:<ul>
        <% recipe.extendedIngredients.forEach(function(ingredient) { %>
            <li><%= ingredient.original %></li>
        <% }); %>
    </ul>
    <% if (recipe.instructions !== null) { %>
        <p>Instructions: <%- recipe.instructions %></p>
    <% } %>
</div>