<h1>Search Results:</h1>

<% results.forEach (recipe => {%>
    <div class="result">
        <a href="/recipe/<%= recipe.id %>"><h3><%= recipe.title %></h3></a>
        <a href="/recipe/<%= recipe.id %>"><img src="<%= recipe.image %>" alt="image of <%= recipe.title %>"></a>
        <form action="/" method="POST">
            <input type="hidden" name="title" value="<%= recipe.title %>">
            <input type="hidden" name="recipeId" value="<%= recipe.id %>">
            <input type="hidden" name="image" value="<%= recipe.image %>">
            <input type="submit" value="Add to Favorites">
        </form>
    </div>
<% }); %>